*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background: url(hextechbackgroundteste.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

.bigCookie{
display: flex;
justify-content: center;
width: 250px;
height: 250px;
margin-top: 20px;
cursor: pointer;
background: url(ea.jpg);    
background-size: cover;
left: 750px;
top: 20px;
border-radius: 50px;


}







.upgrades > * button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 10vw;
    height: 10vh;
    font-size: 1.6vh;
    border-radius: 8px;
    
}

.upgradestrue{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.upgradetrue1{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    margin-top: 25px;
    align-items: center;
    background: url(heimerdinger.png);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2vh;
    border-radius: 8px
    

}
.upgradetrue2{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 10vw;
    margin-top: 25px;
    align-items: center;
    background: url(viktor.png);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2vh; 
    border-radius: 8px
}




.display{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 305px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    font-size: xx-large;
    text-shadow: 2px 2px 2px cyan;
    
}
.bazinganha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    top: 30px;
    right: 600px;
    font-size: x-large;
    text-shadow: 2px 2px 2px red;
}



.areadecompras .upgrades{
    display: flex;  
    flex-direction: column;
  

}

.areadecompras{
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    background-color: blue;
    height: 100vh;
    width: 15vw;
    background-image: url(testehextech.png);
   
}
.areadecompras2{
    background-color: blue;
    height: 100vh;
    width: 15vw;
    text-shadow: 2px 1px 2px  white;
    background-image: url(testehextech.png);
   
    
    
}
.letraupgrades{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}






.meio{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ea{
    text-shadow: 1px 1px 1px cyan;
}